doctype html
html 
    head 
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
        title=pageTitle
    body
        main
            h1 #{pageTitle}
            ul
                li 
                    a(href="/videos/upload") Upload Video
                li 
                    a(href="/") Home
                li  
                    a(href="/search") Search
            block content 
        include ./partials/footer