extends base

block content 
        form(action="", method="POST")
            input(name="title", type="text", placeholder="Title", value=video.title)
            input(name="description", type="text", placeholder="Description", value=video.description)
            input(name="hashtags", type="text", placeholder="Hashtags, separated comma", value=`${video.hashtags}`)
            input(type="submit", value="Save") 