extends base
include ./mixins/video

block content 
    form(action="", method="GET")
        input(name="title", type="text", placeholder="Title", minlength="1", maxlength="20", required)
        input(type="submit", value="Save")

    if(videos)
        each video in videos
            +printVideos(video)