extends base

block content 
    form(action="", method="POST")
        input(name="title", type="text", placeholder="Title")
        input(name="description", type="text", placeholder="Description")
        input(name="hashtags", type="text", placeholder="Hashtags, separated comma")
        input(type="submit", value="Save") 