extends base

block content 
    h4 watch #{video.title}
    ul 
        li
            a(href=`${video._id}/edit`) Edit Video
        li
            a(href=`${video._id}/delete`) Delete Video  